<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLutHV8Y8TZkIowNpO8d070Otj-u_n7A0</string>
	<key>GCM_SENDER_ID</key>
	<string>1083530900540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niogen.gopaljewellers</string>
	<key>PROJECT_ID</key>
	<string>gopal-jewellers-28d82</string>
	<key>STORAGE_BUCKET</key>
	<string>gopal-jewellers-28d82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083530900540:ios:f341690805e1123bd5bf39</string>
</dict>
</plist>